@using Online_Shop.Dtos;
@model CreditCardDTO
@{
    ViewData["Title"] = "Modificar tarjeta de crédito";
}

<h1 class="account-title">Modificar tarjeta de crédito</h1>
<div class="ls-flex">
    <form asp-action="UpdateCreditCard" method="post">
        <input asp-for="Id" type="hidden" />
        <input asp-for="UserId" type="hidden" />
        <input asp-for="Number" type="hidden" />
        <input asp-for="Cvv" type="hidden" />

        <label>Nombre completo:</label>
        <input asp-for="FullName" required />

        <label>Fecha de expiración:</label>
        <div>
            <select asp-for="ExpirationMonth">
                @for (int month = 1; month <= 12; month++)
                {
                    <option value="@month">@month</option>
                }
            </select>
            <select asp-for="ExpirationYear">
                @for (int year = 2024; year <= 2034; year++)
                {
                    <option value="@year">@year</option>
                }
            </select>
        </div>

        <button type="submit">Guardar</button>
    </form>
</div>