@using Online_Shop.Dtos;
@model ChangePasswordRequest
@{
    ViewData["Title"] = "Actualizar contraseña";
}

<h1 class="account-title">Cambiar mi contraseña</h1>
<div class="ls-flex">
    <form asp-action="UpdatePassword" method="post">
        <input asp-for="Id" type="hidden" />
        <label>Tu contraseña actual:</label>
        <input asp-for="Password" type="password" />
        @if (ViewData["WrongPassword"] != null)
        {
            <span>@ViewData["WrongPassword"]</span>
        }
        <label>Tu contraseña nueva:</label>
        <input asp-for="NewPassword" type="password" />
        <span asp-validation-for="NewPassword"></span>
        <label>Repite la contraseña nueva:</label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>

        <button type="submit">Guardar</button>
    </form>
</div>